<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alexchurkin.scsremote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivityNew"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManualConnectActivity"
            android:label="@string/manualConnectString"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".DefaultServerIPActivity"
            android:label="@string/defaultServerIP"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".DefaultServerPortActivity"
            android:label="@string/defaultServerPort"
            android:screenOrientation="landscape"
            android:theme="@style/DialogTheme" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings" />
    </application>

</manifest>