<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".TruckRemoteApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Main"
            android:turnScreenOn="true"
            tools:ignore="NonResizeableActivity,UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/settings"
            android:theme="@style/AppTheme.Compose" />

        <activity
            android:name=".ui.guide.GuideActivity"
            android:screenOrientation="fullSensor"
            android:label="@string/guide"
            android:theme="@style/AppTheme" />

        <!-- Stores the language chosen in the app on Android 12 and older -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>
</manifest>